body {
  background: grey;
  font-family: Arial;
  margin: 0;
}

header {
   background: #362928;
   color: white;
   padding: 20px;
}

nav{
   background: #eee;
   padding: 10px;
}

section{
   padding:40px;
}

footer{
   background: #222;
   color: white;
   padding: 20px;
}

.service{
   display: flex;
   gap: 20px;

}

.box {
    background: lightblue;
    padding: 40px;
    flex: 1;
}

@media (max-width: 768px) {
  .service{
     flex-direction: column;
  }
}